# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
ENV/
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
/staticfiles/
/mediafiles/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.pem
